{
    "name": "MAT_DAT_CONSISTENCY",
    "fault_code": 1,
    "non_fault_code": 0,
    "fault_condition": "all",
    "control": [
        {
            "points": {
                "OutdoorDamperSignal": 0,
                "ChilledWaterValvePosition": 0,
                "FirstStageHeatingOutput": 0,
                "SupplyFanSpeedCommand": 100,
                "OccupancySchedule": 1,
                "SupplyFanStatusCommand": 1
            },
            # Time in seconds after control action to wait for steady
            # state prior to performing analysis
            "steady_state_interval": 20,
            # data collection interval in seconds after proactive diagnostic
            # application will perform get_point 10 times evenly space over collection interval
            "data_collection_interval": 20,
            "analysis": {
                #
                "rule_list": ["Abs(MixedAirTemperature - DischargeAirTemperature) > 6"],
                "inconclusive_conditions_list": ["Abs(ReturnAirTemperature - OutdoorAirTemperature) > 6"],
                "points": ["MixedAirTemperature", "DischargeAirTemperature", "ReturnAirTemperature", "OutdoorAirTemperature"]
            }
        },
        {
            "points": {
                "OutdoorDamperSignal": 100,
                "ChilledWaterValvePosition": 0,
                "FirstStageHeatingOutput": 0,
                "SupplyFanSpeedCommand": 100,
                "OccupancySchedule": 1,
                "SupplyFanStatusCommand": 1
            },
            "steady_state_interval": 20,
            "data_collection_interval": 20,
            "analysis": {
                "rule_list": ["Abs(MixedAirTemperature - DischargeAirTemperature) > 6"],
                "inconclusive_conditions_list": ["Abs(ReturnAirTemperature - OutdoorAirTemperature) > 6"],
                "points": ["MixedAirTemperature", "DischargeAirTemperature", "ReturnAirTemperature", "OutdoorAirTemperature"]
            }
        }
    ]
}