{
  "module_name": "bess.device_classes.rhombus_inverter_res125",
  "class_name": "RhombusInverterRes125",
  "points": "config://inverter_points.csv",
  "repeatable_blocks": {},

  "inverter_heartbeat_warning_time": 60,
  "initial_inverter_heartbeat_count": 931,
  "inverter_heartbeat_count_limit": 750,

  "security_code_value": 125,
  "max_inverter_command": 125,
  "inverter_command_mode": "POWER",

  "inverter_heartbeat_check_interval": 50,
  "charge_sign": -1
}
