{
  "tz": "UTC",
  "actuator_vip": "platform.actuator",
  "soc_monitor_max_time": 30,
  "soc_high_limit": 90,
  "soc_low_limit": 10,
  "soc_recovered_level": 20,
  "soc_monitor_interval": 1,
  "soc_recovery_check_interval": 1,
  "soc_low_recovery_charge_command": 10,
  "system_fault_check_interval": 1,
  "wait_connecting_interval": 1,
  "strict_power_sign": true,
  "user_command_mode": "POWER",
  "system_state_publish_topic": "record/BESS/SystemState",

  "battery_config": "config://battery.config",
  "inverter_config": "config://inverter.config",
  "meter_config": "config://meter.config"
}
